{% extends "bootstrap_layout.html" %}
{% set active_page = "home" %}

{% block content %}

    <h1>Welcome to Sunny Days!</h1>

    <p>Welcome to "Sunny Days" the on-the-go weather forecasting app. We are excited that you could join us! Feel free to check out our website where you can:</p>

    <ul>
        <li>Learn more about our team that makes this forecasting possible</li>
        <li>Get the weather forecast for your area</li>
        <li>Register to join our network of forecasters!</li>
   
    </ul>

    <p>We are glad you chose us to hear about your sunny (and not so sunny) days!</p>


{% endblock %}