

<!--{% extends "bootstrap_layout.html" %}
<!-{ set active_page = "order_home" %} -->
{% extends "bootstrap_layout.html" %}
{% block content %}

    <h2>Order Form</h2>

    <p>Request A restaurant to order food from ...</p>

   <!-- <form action="/order/page" method="POST"> -->

      <!--  <label>Restauraunt Code:</label>
        <form>
            
            <input type="radio" id=restaurant name="gender" value=restaurant>
            <label for="male">Male</label><br>
            <input type="radio" id="female" name="gender" value="female">
            <label for="female">Female</label><br>
            <input type="radio" id="other" name="gender" value="other">
            <label for="other">Other</label>
            
            <br>
             -->
            <!-- <button>Submit</button> -->
        <!--</form>-->
   
{% endblock %}