{% extends "bootstrap_layout.html" %}

{% block content %}

    <h1> Hello </h1>
    <ul>
        <form action="/order/page" method="POST">    <!--This takes me to orders/select home route and thus order_items.html-->

            <h2>Restauraunt Selection:</h2>
              <form>
               
                {% for result in results %}
               

                  <input type="radio" id=restaurant name= "name"  value="{{result['name']}}" multiple>
                  <label for="male">{{ result["name"] }} <!--${{ result["price"] }}--> </label><br>
                  
                  {% endfor %}
                  <br>
                  
                   <button>Submit</button> 
          
                </form>
   <!--     {% for hourly in results %}
        <li>{{ hourly["name"] }} | </li>
    {% endfor %}
   -->  
    </ul>

{% endblock %}